* {
  margin: 0px;
  padding: 0px;
}

body, a {
  background-color: mintcream;
  display: flexbox;
  text-decoration: none;
}

header {
  text-align: center;
}

button {
  float: right;
  margin-top: 4px;
}

h2 > a {
  text-align: center;
  text-decoration: none;
  color: #000000;
}

hr {
  margin-inline-start: 4px;
  margin-inline-end: 4px;
}

.ton {
  text-align: center;
  color: deepskyblue;
  margin: auto;
  font-size: large;
  font-family: cursive;
}

.t-image {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 40px;
  height: 40px;
}

.t-image:hover {
  content: url(./pic/not.webp);
  display: flexbox;
  margin: auto;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.okx {
  text-align: center;
  color: black;
  margin: auto;
  font-size: larger;
  font-family: cursive;
}

.ok-image {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50px;
  height: 50px;
}

.ok-image:hover {
  content: url(./pic/okx.png);
  display: flexbox;
  margin: auto;
  width: 25%;
  height: 50px;
}

.ok-coin > p {
  text-align: center;
}

.meta {
  text-align: center;
  color: darkorange;
  margin: auto;
  font-size: large;
  font-family: cursive;
}

.meta-image {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50px;
  height: 50px;
}

.meta-image:hover {
  content: url(./pic/metamask.gif);
  display: flexbox;
  margin: auto;
  width: 20%;
  height: 60px;
}

.bit > img, .tet > img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.line {
  border-color: rgb(240, 240, 240);
  border-style: dashed;
}

.token > p {
  text-align: center;
}

details, .bitcoin-blockchain {
  padding: 4px 20px;
  width: 100%;
}

details > summary {
  color: dimgray;
  width: 14em;
  border: none;
  cursor: pointer;
}

details[open] > summary {
  color: dodgerblue;
}

ul li::marker {
  color: lightslategray;
}

.send-bot > a {
  color: currentColor;
}

.t-icon::before {
  content: url(./pic/telegram.svg);
  display: inline-block;
  filter: grayscale(0);
}

ul.tk {
  list-style-type: square;
}

code {
  color: midnightblue;
  background-color: azure;
  border-radius: 50%;
}

code:hover {
  content: url(./pic/scan.png);
  display: flexbox;
  margin: auto;
  width: 17px;
  height: 17px;
}

mark {
  border-radius: 5px;
  color: darkslategrey;
  background-color: transparent;
}

.bit, .tet {
  text-align: center;
}