* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
  display: flexbox;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
}

button {
  float: right;
  margin-top: 4px;
  border-color: bisque;
  border-style: dotted;
  border-radius: 50%;
}

h2 > a {
  text-align: center;
  color: #000000;
}

hr {
  margin-inline-start: 4px;
  margin-inline-end: 4px;
}

.ton {
  text-align: center;
  color: deepskyblue;
  margin: auto;
  font-size: large;
  font-family: cursive;
}

.t-coin > img {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.t-coin > img:hover {
  content: url(./pic/not.webp);
  display: flex;
  margin: auto;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.okx {
  text-align: center;
  color: black;
  margin: auto;
  font-size: larger;
  font-family: cursive;
}

.ok-image {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 55px;
  height: 55px;
}

.ok-image:hover {
  content: url(./pic/okx.png);
  display: flex;
  justify-content: center;
  margin: auto;
  width: 155px;
  height: 55px;
}

.ok-coin > p {
  text-align: center;
}

.meta {
  text-align: center;
  color: darkorange;
  margin: auto;
  font-size: large;
  font-family: cursive;
}

.meta-image {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50px;
  height: 60px;
}

.meta-image:hover {
  content: url(./pic/metamask.gif);
  display: flexbox;
  justify-content: center;
  margin: auto;
  width: 100px;
  height: 60px;
}

.bit > img, .tet > img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.bit > img:hover {
  transform: rotate(-15deg);
}
.tet > img:hover{
  transform: rotateY(45deg);
  transition-duration: 1s;
}

.line {
  border-color: antiquewhite;
  border-style: dashed;
}

.token > p {
  text-align: center;
}

details, .bitcoin-blockchain {
  padding: 4px 20px;
  width: auto;
}

details > summary {
  color: dimgray;
  width: 70%;
  border: none;
  cursor: pointer;
}

details[open] > summary {
  color: dodgerblue;
}

ul li::marker {
  color: lightslategray;
}

.send-bot > a {
  color: blue;
  text-decoration: none;
}

.t-icon::before {
  content: url(./pic/telegram.svg);
  display: flexbox;
  /* filter: grayscale(0); */
}

ul.tk {
  list-style-type: square;
}

code {
  color: midnightblue;
  background-color: azure;
  border-radius: 50%;
}

code:hover {
  content: url(./pic/scan.png);
  display: flexbox;
  margin: auto;
  width: 17px;
  height: 17px;
}

mark {
  border-radius: 5px;
  color: darkslategrey;
  background-color: transparent;
}

.bit, .tet {
  text-align: center;
}